.usersWrapper {
    background-color: #f0f1e1;
    height: 100%;
}
.usersBlock {
    padding-left: 20px;
}
.usersListWrapper{
    display: flex;
    flex-wrap: wrap;
}
.userWrapper {
    background-color: #f0f1e1;
    border: 1px dotted grey;
    border-radius: 10%;
    margin: 5px 10px 5px 0px;
    padding: 5px;

}
.titleUsersList {
    color: #525151;
}
.MenuButton {
    width: fit-content;
    max-width: 30vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #0C0874;
    background-color: #7673D9;
    border: none;
    border-radius: 5%;
    box-shadow: 0 0 10px #000000;
    margin: 20px 30px 10px 0px;
    padding: 10px;
}
.MenuButton:hover {
    color: #0C0874;
    background-color: #534ED9;
}
.MenuButton:active {
    color: #f1f3e7;
    background-color: #0C0874;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
